/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
    text-align: center;
    font-style: italic;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* Typography */
  
  html, body {
    font-size: 10px;
    font-family: Helvetica,Arial, sans-serif;

  }

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

p, ul, ol {
    font-size: 2rem;
    letter-spacing: 1.5;
    word-spacing: 0.2rem;
    line-height: 0.2 rem;
}

P::first-line {
    text-indent: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    height: 100%;
    

}

nav li {
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    border: 2px solid lightpink;
    outline: none;
    display: block;
    line-height: 3;
    text-align: center;

}

nav a:link, a:visited, a:focus {
    background: lightsalmon;
}

nav a:hover {
    background: darksalmon;
}

nav a:active {
    background: dodgerblue;
    color: gainsboro;
}

section a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  section a:link {
    color: #24768f;
  }
  
  section a:visited {
    color: rgb(19, 128, 143);
  }
  
  section a:focus {
    border-bottom: 1px solid;
    background: rgb(50, 105, 6);
  }
  
  section a:hover {
    border-bottom: 1px solid;     
    background: rgb(100, 155, 61);
    color: gainsboro;
  }

  section a[href*="http"] {
    background: url('external-link-52.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }
  
ul {
    list-style-position: inside;
    list-style-type: square; 
}

li {
    padding: 0.2rem;
}

aside a {
    text-decoration: none;
    outline: none;
    padding: 2px 1px 1px 0;

}

aside a:link {
    color: #24768f;
  }
  
aside a:visited {
    color: rgb(19, 128, 143);
  }
  
aside a:focus {
    border-bottom: 1px solid;
    background: rgb(50, 105, 6);
  }
  
aside a:hover {
    border-bottom: 1px solid;     
    background: rgb(100, 155, 61);
    color: gainsboro;
  }

aside a:active {
    background: #a66;
    color: aqua;
}