/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* Typography */
  
  html, body {
    font-size: 10px;
    font-family: Helvetica,Arial, sans-serif;

  }

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

p, ul, ol {
    font-size: 2rem;
    letter-spacing: 1.5;
    word-spacing: 0.2rem;
    line-height: 0.2 rem;
}

nav ul {
    list-style: none;
    padding: 0;
    height: 100%;
    

}

nav li {
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    border: 2px solid lightpink;
    outline: none;
    display: block;
    line-height: 3;
    text-align: center;

}

